<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="detail/{{cc.user.id}}" *ngFor="let cc of contactChats">
      <ion-avatar slot="start">
        <ion-img *ngIf="cc.user.photo!= null && cc.user.photo.length>0" src="{{configuration.host}}/api/guest/file/{{cc.user.photo}}"></ion-img>
        <ion-img *ngIf="cc.user.photo== null || cc.user.photo.length==0" src="assets/images/no_image_available.png"></ion-img>
      </ion-avatar>
      <ion-label>{{cc.user.name}}</ion-label>
      <ion-buttons slot="end">
        <ion-label>
          <small>{{cc.lastUpdated | date: 'yyyy/MM/dd HH:mm'}}</small>
        </ion-label>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
