<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" *ngIf="tokenStorage.hasBuyerRole()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-store" *ngIf="tokenStorage.hasFarmerRole()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" *ngIf="tokenStorage.hasBuyerRole()">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="checkbox"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
