<ion-header>
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button></ion-menu-button>-->
<!--    </ion-buttons>-->

<!--    <ion-title>Vehicle</ion-title>-->

<!--    <ion-buttons slot="end">-->
<!--      <ion-button routerLink="/app-tab/tabs/my-store">-->
<!--        <ion-icon name="arrow-back"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vehicle</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="new">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" size-md="6" *ngFor="let vehicle of vehicles;">
        <ion-card class="speaker-card">
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label >Name:</ion-label>
                <ion-label color="primary">{{vehicle.name}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label >Price:</ion-label>
                <ion-label color="primary"> PHP {{vehicle.pricePerKm}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label >Weight carry:</ion-label>
                <ion-label color="primary">{{vehicle.weightCarry}} kg(s)</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <ion-row class="ion-no-padding ion-justify-content-center">
            <ion-col size="4" class="ion-text-left">
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button (click)="deleteVehicle(vehicle.id)" fill="clear" size="small" color="danger">
                <ion-icon name="trash" slot="start"></ion-icon>
                Delete
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button routerLink="view/{{vehicle.id}}" fill="clear" size="small" color="primary">
                <ion-icon name="code-working" slot="start"></ion-icon>
                Edit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
