<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app-tab/tabs/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content >
  <div id="main-content" style="height: 100px">
  <ion-list no-lines>
    <ion-item *ngFor="let msg of messages" >
      <chat-bubble [msg]="msg" style="width: 100%"></chat-bubble>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Enter your text" [(ngModel)]="myMessage"></ion-input>
      <button (click)="addNewMessage()" clear item-right fill="clear" [disabled]="myMessage.length==0">
        <ion-icon style="font-size: 20px" name="send" slot="start" [color]="myMessage.length==0? 'dark' : 'primary'"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-footer>
