<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none" *ngIf="tokenStorage.hasBuyerRole()">
          <ion-list-header>
            You are buyer
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app-tab/tabs/home" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app-tab/tabs/cart" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="cart"></ion-icon>
              <ion-label>
                Shopping cart
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app-tab/tabs/order" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="checkbox"></ion-icon>
              <ion-label>
                Order history
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app-tab/tabs/chat" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="chatbubbles"></ion-icon>
              <ion-label>
                Chat history
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" >
            <ion-item routerLink="/deliver-address" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="pin"></ion-icon>
              <ion-label>
                Deliver Address
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none" *ngIf="tokenStorage.hasFarmerRole()">
          <ion-list-header>
            You are farmer
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app-tab/tabs/my-store" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                My store
              </ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app-tab/tabs/order" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="checkbox"></ion-icon>
              <ion-label>
                Transaction history
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/app-tab/tabs/chat" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="chatbubbles"></ion-icon>
              <ion-label>
                Chat history
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" >
            <ion-item routerLink="/farm" routerLinkActive="active" routerDirection="root" detail="false">
<!--              <ion-icon slot="start" name="nutrition"></ion-icon>-->
              <ion-icon slot="start" name="leaf"></ion-icon>
              <ion-label>
                Farm
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" >
            <ion-item routerLink="/vehicle" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="subway"></ion-icon>
              <ion-label>
                Vehicle
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list  lines="none">
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false" *ngIf="tokenStorage.isLoggedIn()">
            <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Profile
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/about" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                About Us
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngIf="tokenStorage.isLoggedIn()">
            <ion-item button (click)="logout()" detail="false">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngIf="!tokenStorage.isLoggedIn()">
            <ion-item button detail="false" routerLink="/login">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>


        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>
              Dark Theme
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
