.item-list-right{
  text-align: right;
  ion-button{
    float: right;
    width: 20px;
    height: 20px;
    --border-radius: 50px;
  }
  ion-icon {
    float: right;
    padding-top: 11px;
  }
  ion-input {
    float: right;
    width: 35px;
    text-align: center;
  }
}

.main-price {
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
  margin-right: 8px;
}
.discounted-price {
  color: #80bb01;
  font-size: 12px;
}

.pagination-button {
  width: 25px!important;
  height: 25px!important;
  --border-radius: 50px!important;
}

.select-border-round{
  border: 1px solid #80bb01;
  border-radius: 20px;
}

.button-round{
  border-radius: 20px;
}

.width-100{
  width: 100%;
}

.slide-item-height{
 height: 65px;
}

.text-border-round{
  //border: 1px solid #3880FF;
  border: 1px solid #80bb01;
  border-radius: 20px;
}

.product-detail-button{
  padding-top: 11px;
  font-size: 20px;
}
