<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Deliver Address</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/app-tab/tabs/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
<!--    <ion-item *ngFor="let address of addresses;" routerLink="view/{{address.id}}">-->
    <ion-item *ngFor="let address of addresses;" href="deliver-address/view/{{address.id}}">
      <ion-label>
        {{address.name}}
      </ion-label>
      <ion-label>
        {{address.state}}
        <p>{{address.address}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-list>
      <ion-item>
        <ion-label padding-left>
          <strong>Add new address? </strong>
        </ion-label>
<!--        <ion-button color="danger" routerLink="new">-->
        <ion-button color="danger" href="deliver-address/new">
          <ion-icon name="add"></ion-icon>
          Add
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-content>
