<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cart of shoppingCart; let i = index;">
      <ion-thumbnail slot="start">
        <ion-img src="{{configuration.host}}/api/guest/file/{{cart.product.images[0]}}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{cart.product.name}}
        <p>PHP {{cart.product.promotionPrice | number}} * {{cart.quantity}}</p>
        <p>PHP <strong>{{cart.product.promotionPrice * cart.quantity | number}}</strong></p>
      </ion-label>
      <div slot="end" class="item-list-right">
<!--        <ion-button (click)="removeItem(cart.product.id)" color="danger">x</ion-button>-->
<!--        <ion-button (click)="increaseQuantity(cart)" color="primary">+</ion-button>-->
<!--        <ion-input type="number" [(ngModel)]="shoppingCart[i].quantity"></ion-input>-->
<!--        <ion-button (click)="decreaseQuantity(cart)">-</ion-button>-->

        <ion-icon (click)="removeItem(cart.product.id)" name="trash" color="danger"></ion-icon>
        <ion-icon (click)="increaseQuantity(cart)" name="add" color="primary"></ion-icon>
        <ion-input type="number" [(ngModel)]="shoppingCart[i].quantity"></ion-input>
        <ion-icon (click)="decreaseQuantity(cart)" name="remove" color="primary"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-list>
      <ion-item>
        <ion-label padding-left>
          <strong>Total price: </strong>
          <span>PHP {{totalPrice | number}}</span>
        </ion-label>
        <ion-button color="primary" routerLink="/checkout">
          <ion-icon name="cart"></ion-icon>
          Checkout
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-content>
