<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Confirmation</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/app-tab/tabs/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center">
    <h2 class="text-center mb-0">Thank You For Your Order</h2>
    <div class="text-center">
      <p>Thanks for shopping! Your order hasn’t shipped yet but we will send you an email when it does.</p>
      <p class="mb-5">Order ID: <ion-label color="danger">{{id}}</ion-label></p>

      <ion-button routerLink="/app-tab/tabs/home">Back To Shop</ion-button>
      <ion-button routerLink="/app-tab/tabs/order">Track Order</ion-button>
    </div>
  </div>
</ion-content>

