<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
      <ion-buttons slot="end">
        <ion-label color="primary">Select status</ion-label>
        <ion-select id="status" name="status" [(ngModel)]="form.status" #status="ngModel">
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="PROCESSING">Processing</ion-select-option>
          <ion-select-option value="PROCESSED">Processed</ion-select-option>
          <ion-select-option value="DELIVERING">Delivering</ion-select-option>
          <ion-select-option value="FINISHED">Finished</ion-select-option>
          <ion-select-option value="CANCELLED">Cancelled</ion-select-option>
        </ion-select>
      </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="search(1)"> Search</ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search" id="orderId" name="orderId" [(ngModel)]="form.orderId" #orderId="ngModel"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-label><strong>Order Ref</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label><strong>Total</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label><strong>Status</strong></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let order of orders;" routerLink="view/{{order.id}}">
      <ion-grid>
        <ion-row (focusin)="5">
          <ion-col>
            <ion-label>{{order.orderId}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>PHP {{order.totalPrice}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label *ngIf="isProcessing(order) || isProcessed(order)" color="primary">{{order.status}}</ion-label>
            <ion-label *ngIf="isDelivering(order)" color="success">{{order.status}}</ion-label>
            <ion-label *ngIf="isFinished(order)" color="dark">{{order.status}}</ion-label>
            <ion-label *ngIf="isCancelled(order)" color="danger">{{order.status}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
