<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Checkout</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/app-tab/tabs/cart">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6">
          <ion-card class="speaker-card">
            <ion-card-content>
              <ion-list>
                <ion-list-header>
                  <ion-label><strong>Billing Information</strong></ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label position="stacked" color="primary">Name</ion-label>
                  <ion-input id="name" name="name" [(ngModel)]="form.name" #name="ngModel" readonly></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" color="primary">Email</ion-label>
                  <ion-input id="email" name="email" [(ngModel)]="form.email" #email="ngModel" readonly></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" color="primary">Phone</ion-label>
                  <ion-input id="phone" name="phone" [(ngModel)]="form.phone" #phone="ngModel" readonly></ion-input>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="speaker-card">
            <ion-card-content>
              <ion-list>
                <ion-list-header>
                  <ion-label><strong>Shipping Address</strong></ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label position="stacked" color="primary">Address name</ion-label>
                  <ion-select id="deliverAddress" name="deliverAddress" [(ngModel)]="form.deliverAddress" #deliverAddress="ngModel" (ionChange)="changeDeliverAddress($event)">
                    <ion-select-option *ngFor="let add of addresses" [value]="add">{{add.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" color="primary">Region</ion-label>
                  <ion-input id="state" name="state" [(ngModel)]="form.state" #state="ngModel" readonly></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" color="primary">Address</ion-label>
                  <ion-input id="address" name="address" [(ngModel)]="form.address" #address="ngModel" readonly></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" color="primary">Shipping method</ion-label>
                  <ion-select id="shippingMethod" name="shippingMethod" [(ngModel)]="form.shippingMethod" #shippingMethod="ngModel" (ionChange)="changeShippingMethod($event)">
                    <ion-select-option *ngFor="let sm of shippingMethods" [value]="sm">{{sm.method}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="speaker-card">
            <ion-card-content>
              <ion-list>
                <ion-list-header>
                  <ion-label><strong>Shopping cart</strong></ion-label>
                </ion-list-header>
                <ion-item *ngFor="let cart of shoppingCart; let i = index;">
                  <ion-thumbnail slot="start">
                    <ion-img src="{{configuration.host}}/api/guest/file/{{cart.product.images[0]}}"></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    {{cart.product.name}}
                    <p>PHP {{cart.product.promotionPrice | number}}</p>
                  </ion-label>
                  <div slot="end" class="item-list-right">
                    <ion-label>{{cart.quantity}} kg(s)</ion-label>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label><strong>Sub Total</strong></ion-label>
                  <div slot="end" class="item-list-right">
                    <ion-label>PHP <strong>{{totalPrice | number}}</strong></ion-label>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label><strong>Shipping Fee</strong></ion-label>
                  <div slot="end" class="item-list-right">
                    <ion-label>PHP <strong>{{shippingFee | number}}</strong></ion-label>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label><strong>Grand Total</strong></ion-label>
                  <div slot="end" class="item-list-right">
                    <ion-label>PHP <strong>{{totalPrice + shippingFee | number}}</strong></ion-label>
                  </div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="speaker-card">
            <ion-card-content>
              <ion-list>
                <ion-radio-group vid="payment_cash" name="payment-method" value="cash"  [(ngModel)]="form.paymentMethod" #paymentMethod="ngModel">
                  <ion-list-header>
                    <ion-label><strong>Payment method</strong></ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-label>Check</ion-label>
                    <ion-radio slot="start" ></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Bank</ion-label>
                    <ion-radio slot="start"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Cash on Delivery</ion-label>
                    <ion-radio slot="start"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox color="primary" id="accept_terms" [ngModelOptions]="{standalone: true}" [(ngModel)]="form.readTerm"></ion-checkbox>
                    <ion-label>I’ve read and accept the terms &amp; conditions</ion-label>
                  </ion-item>

                  <ion-item>
                    <ion-button slot="end" type="submit" color="primary">Order Now</ion-button>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
